@using AP.BoomTP.Application.CQRS.TasksCQRS
@using AP.BoomTP.Application.CQRS.TreeSpeciesCQRS
@using AP.BoomTP.Application.CQRS.ZoneCQRS
@using AP.BoomTP.Domain
@model AP.BoomTP.Application.CQRS.TreeSpeciesCQRS.TreeSpeciesDetailDTO


<h1>Detail @Model.Name</h1>
<h5>Afbeelding</h5>
<img src="~/Images/@Model.ImageUrl" height="40%" width="50%" asp-append-version="true" />

<br />
@if(Model.Tasks != null){
    <h5>Taken voor boomsoort: </h5>
    @foreach (TasksDTO task in Model.Tasks)
    {
        <div class="card">
            <div class="card-body">
                <p>@task.Title</p>
                <p>@task.Description</p>
            </div>
        </div>
    }
    <br />
}

<h5>In volgende zones: </h5>
@foreach (ZoneDTO zone in Model.Zones)
{
    <div class="card">
        <div class="card-body">
            <p><a asp-controller="Zone" asp-action="Details" asp-route-id="@zone.Id">@zone.Name</a></p>
        </div>
    </div>
}
