@using AP.BoomTP.Application.CQRS.ScheduleCQRS
@using AP.BoomTP.Application.CQRS.ScheduleStatusCQRS
@using AP.BoomTP.Application.CQRS.TasksCQRS
@model AP.BoomTP.WebApp.ViewModels.Schedule.ScheduleListViewModel

@{
    ViewBag.Title = "Planning";
}
@{
    Layout = "_Layout";
    var newSortDirection = Model.SortOrder == AP.BoomTP.WebApp.Controllers.SortOrder.Week ? AP.BoomTP.WebApp.Controllers.SortOrder.All : AP.BoomTP.WebApp.Controllers.SortOrder.Week;

}

<!DOCTYPE html>
<html>
    <head>
        <title>W3.CSS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
@Html.ActionLink(Model.SortOrder.ToString(), "Index", new { SortOrder = newSortDirection })
<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Medewerker</th>
            <th scope="col">Zone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ScheduleDTO schedule in Model.Schedules)
        {
            <tr>
                <td><a asp-controller="Schedule" asp-action="Details" asp-route-id="@schedule.Id">@schedule.Date.ToString(("dddd, dd MMMM yyyy HH:mm"))</a></td>
                <td>@schedule.User.FirstName @schedule.User.LastName</td>
                <td>@schedule.Zone.Name</td>
                <td>
                        <i type="button" Text="Verwijderen" data-toggle="modal" data-target="#delete-modal-@schedule.Id" class="fa fa-trash fa-danger" style="color:red"></i>
                </td>
                <td>
                    <a asp-action="Update" Text="Bewerken" asp-controller="Schedule" asp-route-id="@schedule.Id" role="button" class="fa fa-pencil"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Schedule" asp-action="Create" class="btn btn-labeled btn-primary">Planning toevoegen</a>
<a asp-controller="Schedule" asp-action="Late" class="btn btn-labeled btn-primary">Late planningen zien</a>

@foreach (ScheduleDTO scheduleDTO in Model.Schedules)
{
    <div class="modal fade" id="delete-modal-@scheduleDTO.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bent u zeker om te verwijderen?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a asp-controller="Schedule" asp-action="Delete" asp-route-id="@scheduleDTO.Id" role="button" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
}
<hr />
<ul class="pagination">
    @for (int i = 1; i < Model.TotalPages + 1; i++)
    {
        <li class="page-item @(i==Model.CurrentPage?"active":"")"><a class="page-link" asp-action="Index" asp-route-sortOrder="@Model.SortOrder" asp-route-page="@i">@i</a></li>
    }
</ul>
</html>